<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>2</integer>
	<key>Battery_bar_chart_box</key>
	<false/>
	<key>Battery_bar_chart_frame</key>
	<false/>
	<key>Battery_bar_chart_label</key>
	<false/>
	<key>Battery_batteryDetails_position</key>
	<integer>0</integer>
	<key>Battery_battery_color</key>
	<false/>
	<key>Battery_battery_details_mode</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_position</key>
	<integer>1</integer>
	<key>Battery_battery_xlSize</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>3</integer>
	<key>Battery_mini_position</key>
	<integer>4</integer>
	<key>Battery_oneView</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery_details,battery</string>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>4</integer>
	<key>CPU_label_position</key>
	<integer>5</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>system</string>
	<key>CPU_line_chart_frame</key>
	<true/>
	<key>CPU_line_chart_label</key>
	<false/>
	<key>CPU_line_chart_value</key>
	<false/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_pieChart_position</key>
	<integer>2</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>3</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>Clock_list</key>
	<data>
	W3siZm9ybWF0IjoieXl5eS1NTS1kZCBISDptbTpzcyIsImlkIjoiMEY2MTUwNUUtNUY2
	Mi00MjM4LTgxMkMtOUU0RjlGN0MzMzNCIiwibmFtZSI6IkxvY2FsIHRpbWUiLCJ0eiI6
	ImxvY2FsIiwiZW5hYmxlZCI6ZmFsc2V9LHsiZm9ybWF0IjoiRSB8IGRkXC9NTVwveXl5
	eSB8IEhIOm1tOnNzIiwiaWQiOiI2QjE4Q0U0MC1FNDhCLTQ1M0YtQTlDOS01N0I3Q0I3
	ODBDODYiLCJuYW1lIjoiQ2xvY2sgMSIsInR6IjoibG9jYWwiLCJlbmFibGVkIjp0cnVl
	fV0=
	</data>
	<key>Clock_state</key>
	<true/>
	<key>Disk_barChart_position</key>
	<integer>0</integer>
	<key>Disk_label_position</key>
	<integer>4</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>3</integer>
	<key>Disk_networkChart_position</key>
	<integer>1</integer>
	<key>Disk_pieChart_position</key>
	<integer>2</integer>
	<key>Disk_pie_chart_label</key>
	<true/>
	<key>Disk_pie_chart_monochrome</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>6</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_widget</key>
	<string></string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_line_chart_box</key>
	<false/>
	<key>GPU_line_chart_frame</key>
	<true/>
	<key>GPU_line_chart_label</key>
	<true/>
	<key>GPU_line_chart_value</key>
	<false/>
	<key>GPU_mini_alignment</key>
	<string>center</string>
	<key>GPU_mini_label</key>
	<true/>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_oneView</key>
	<true/>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string></string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va7wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAHN1bWVldAAACAAAAAEG
	AAAQAAAAIAAAAAgAAAAEAwAAClIAAAAAAAAIAAAABAMAAER+AAAAAAAACAAAAAEGAABA
	AAAAUAAAAAgAAAAABAAAQcb8b+V+97UYAAAAAQIAAAIAAAAAAAAAHwIAAAAAAAAfAgAA
	AAAAAAAAAAABBQAACAAAAAQDAAAAAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
	ZTovLy8HAAAAAQEAAE1hY0Jvb2sACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcbjmoUA
	AAAkAAAAAQEAAEZBMzVFODE2LUQ5NjEtNEI3OS1BNjIxLUM3QUE2QzIyNDNBQxgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmli
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkbGZ1AgAAAAAAAADwAAAA/v//
	/wEAAAAAAAAAEwAAAAQQAAAwAAAAAAAAAAUQAABgAAAAAAAAABAQAACAAAAAAAAAAEAQ
	AABwAAAAAAAAAAIgAABQAQAAAAAAAAUgAADEAAAAAAAAABAgAADUAAAAAAAAABEgAAAE
	AQAAAAAAABIgAADkAAAAAAAAABMgAAD0AAAAAAAAACAgAAAwAQAAAAAAADAgAACgAAAA
	AAAAAAHAAACoAAAAAAAAABHAAAAgAAAAAAAAABLAAAC4AAAAAAAAAAHQAACgAAAAAAAA
	ABDQAAAEAAAAAAAAABfwAAAgAAAAAAAAACLwAABcAQAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>272</real>
	<key>NSStatusItem Preferred Position CPU_line_chart</key>
	<real>372</real>
	<key>NSStatusItem Preferred Position Clock_sensors</key>
	<real>78</real>
	<key>NSStatusItem Preferred Position Network_network_chart</key>
	<real>420</real>
	<key>NSStatusItem Preferred Position RAM_bar_chart</key>
	<real>345</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>571</integer>
	<key>NSStatusItem Restore Position Bluetooth_sensors</key>
	<integer>279</integer>
	<key>NSStatusItem Restore Position CPU_mini</key>
	<integer>300</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>5807</integer>
	<key>NSStatusItem Restore Position Disk_network_chart</key>
	<integer>5896</integer>
	<key>NSStatusItem Restore Position Disk_pie_chart</key>
	<integer>5854</integer>
	<key>NSStatusItem Restore Position GPU</key>
	<integer>371</integer>
	<key>NSStatusItem Restore Position GPU_line_chart</key>
	<integer>252</integer>
	<key>NSStatusItem Restore Position GPU_mini</key>
	<integer>308</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>273</integer>
	<key>NSStatusItem Restore Position RAM_mini</key>
	<integer>700</integer>
	<key>NSStatusItem Restore Position RAM_pie_chart</key>
	<integer>252</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>320 339 800 448 0 0 1440 900 </string>
	<key>Network_label_position</key>
	<integer>2</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_downloadColor</key>
	<string>cluster</string>
	<key>Network_network_chart_uploadColor</key>
	<string>cluster</string>
	<key>Network_speed_position</key>
	<integer>1</integer>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>network_chart</string>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_label_position</key>
	<integer>3</integer>
	<key>RAM_lineChart_position</key>
	<integer>4</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_label</key>
	<false/>
	<key>RAM_mini_position</key>
	<integer>2</integer>
	<key>RAM_pieChart_position</key>
	<integer>1</integer>
	<key>RAM_pie_chart_label</key>
	<true/>
	<key>RAM_pie_chart_monochrome</key>
	<false/>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_F1Ac</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>updater_check_ts</key>
	<integer>1750848999</integer>
	<key>version</key>
	<string>2.11.41</string>
</dict>
</plist>
